<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>

    <h1>{{ fullName }}</h1>
    <input type="text" v-model="first" placeholder="First Name">
    <input type="text" v-model="last" placeholder="Last Name">


    <script src="https://vuejs.org/js/vue.js"></script>

    <script>

        // Root vue instance
        new Vue({
            el: 'body',

            data: {
                first: 'Tom',
                last: 'Freestone'
            },

            computed: {
                fullName: function() {
                    return this.first + ' ' + this.last;
                }
            
            }

        });

    </script>
</body>

</html>
